{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}
    {% block content_header %}
        <h1 style="margin-bottom: 20px; margin-top: 30px;">Amper</h1>
    {% endblock %}

    <br>
    <p style="font-size: 20px;">Logged in as <strong>{{username}}</strong></p>
{% endblock %}
